[submodule "DSLAB"]
	path = DSLAB
	url = https://github.com/bradly0cjw/DSLAB.git
[submodule "CPE-Train"]
	path = CPE-Train
	url = https://github.com/bradly0cjw/CPE-Train.git
[submodule "AlgoLAB"]
	path = AlgoLAB
	url = https://github.com/bradly0cjw/AlgoLAB.git